$default-background-shade: 50;
$select-background-shade: 100;

$font-size-base: 1.0em;
$font-size-medium: 1.3em;
$font-size-large: 1.8em;
$font-size-huge: 2.3em;

$group-colors: (
  Green, Light Blue, Blue Grey,
  Amber, Purple, Lime,
  Indigo, Teal, Orange,
  Brown, Yellow, Light Green,
  Cyan
);

