@import '../../bower_components/bootswatch/readable/variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/bootswatch/readable/bootswatch';
@import '../../bower_components/font-awesome/css/font-awesome';

@import 'palette';
@import 'variables';
@import 'misc';

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* For elements not wrapped in CSSTransitionGroup */
.fade-in-once {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadeIn ease-in 1;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

div, p, span {
  font-size: $font-size-base;
}

.container-header {

  .header-title {
    @extend h1;
    margin: 20px 70px 20px 5px;
  }

  .header-control label {
    font-size: $font-size-medium;

    &::before {
      margin-top: 5px;
    }

    &::after {
      margin-top: 4px;
      margin-left: -21px;

      font-size: ($font-size-medium - 0.7em);
    }
  }
}

.container-groups {

  margin-top: 100px;

  .word-col {
    padding: 5px;
  }

  .word-group {
    padding: 15px 12px;
    border: 10px solid white;
    opacity: 1;
    transition: visibility 0.4s ease, opacity 0.4s ease, background 0.3s ease;
    display: block;
    outline: none;
    color: $text-color;

    @for $i from 1 through 13 {
      &.group-#{$i} {
        background: palette(nth($group-colors, $i), $default-background-shade);

        &:hover {
          background: palette(nth($group-colors, $i), $select-background-shade);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .preview {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-large;
    }
  }
}

.container-game {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding-top: 40px;

  @for $i from 1 through 13 {
    &.group-#{$i} {
      background: palette(nth($group-colors, $i), $default-background-shade);
    }
  }

  .intro {
    width: 100%;
    text-align: center;
    font-size: $font-size-larger;
  }

  .controls {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    i:hover {
      color: green;
      cursor: pointer;
    }

    .start {
      font-size: 6em;
    }

    .continue {
      margin-top: 160px;
      margin-bottom: 40px;
      font-size: 4em;
    }

    .options {
      display: inline-block;
      font-size: $font-size-medium;
      margin-top: 20px;

      .option {
        text-align: left;
      }

      .option-cancel {
        margin-top: 20px;
        padding-top: 5px;
        border-top: 1px solid $gray-light;
        font-size: $font-size-small;
        text-align: right;
      }

      input[type='checkbox'] {
        margin: 0 10px 0 0;
        transform: translateY(-2px);
      }
    }
  }

  .word {
    position: absolute;
    width: 100%;
    top: 70px;
    text-align: center;
    font-size: $font-size-huge;
  }

  .done {
    width: 100%;
    text-align: center;
    font-size: $font-size-huge;
    margin-bottom: 40px;
  }

  .time {
    width: 100%;
    text-align: center;
    font-size: $font-size-large;
    margin-bottom: 40px;
  }

  .word-appear {
    opacity: 0;
  }

  .word-appear.word-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 1.5s;
  }

  .word-enter {
    opacity: 0;
  }

  .word-enter.word-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 1s;
  }

  .word-leave {
    position: absolute;
    opacity: 1;
  }

  .word-leave.word-leave-active {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

}
